<% content_for :full_width_slide do %>
  <div class='top-banner' >
    <%= image_tag 'products/top-banner.jpg' %>
  </div>
<% end %>

<div id="wrapper" class="row" data-hook>
  <%= render 'spree/shared/search' %>

  <div id='feature-products'>
    <ul>
      <% @feature_products.each do |product| %>
        <%= render :partial => 'featured_product', :locals => { :product => product } %>
      <% end %>
    </ul>
  </div>

  <div id='product-list'>
    <ul>
      <% @products.each do |product| %>
        <%= render :partial => 'product', :locals => { :product => product } %>
      <% end %>
    </ul>
  </div>
</div>
